body {
    overflow: hidden;
    background-image: url('../images/SpaceBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
button {
    position: absolute;
    top: 0;
    left: 0;
}
h5 {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}
.rocket {
    position: absolute;
    width: 200px;
    height: 300px;
}
.fire {
    transform: rotate(90deg);
    position: absolute;
    width: 100px;
    height: 80px;
}
